#Page_Mobile_Title {
  display: inline-block;
}
#Page_Desktop_Title {
  display: none;
}

.Skills_Detail {
  display: flex;
  flex-direction: row-reverse;
}
.SkillSphere {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 90%;
}

#SkillSphere {
  color: white;
}

.Skill_Description {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  justify-content: center;
}

@media (max-width: 400px) {
  .Skills_Detail {
    flex-direction: column;
  }
}
@media (min-width: 399px) {
  #SkillSphere {
    width: 60vw !important;
    height: 60vw !important;
    max-width: 500px !important;
    max-height: 500px !important;
  }
  #Page_Mobile_Title {
    display: none;
  }
  #Page_Desktop_Title {
    display: inline-block;
  }
}
