.Skills_Detail {
  display: flex;
  flex-direction: row-reverse;
}
.SkillSphere {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 90%;
}

#SkillSphere {
  color: white;
}

.Skill_Description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 400px) {
  .Skills_Detail {
    flex-direction: column;
  }
}
@media (min-width: 399px) {
  #SkillSphere {
    width: 50vw !important;
    height: 50vw !important;
    max-width: 400px !important;
    max-height: 400px !important;
  }
}
